@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --navyBlue: #0c2c56;
  --metallicSilver: #c4ced4;
  --northwestGreen: #005c5c;
  --boxShadow1: 0rem 0rem .3rem #2c4a6b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: var(--metallicSilver);
  font-family: 'Roboto Condensed', sans-serif;
}

.App {

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 0.2fr 1.3fr 1.3fr 1.3fr 0.2fr;
  grid-template-areas:
    'navBar'
    'mainContent'
    'mainContent'
    'mainContent'
    'footer';
  text-align: center;
}

.mainContent {
  grid-area: mainContent;

  background: var(--navyBlue);
}

.spacer {
  width: 100%;
  height: 25rem;
}

/* ========== NAVIGATION ========= */

.navBar {
  grid-area: navBar;
  background: var(--metallicSilver);

}

.navBar > ul > li > a {
  text-decoration: none;
  color: var(--navyBlue);
}



/* ======== HOME ======= */

/* .homeMain {
  position: relative;

} */

.homeScoreBoxContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.homeScoreBox {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1rem;
  padding: .75rem;
  border-radius: .5rem;
  animation: fadeIn 4s;
}

.homeScoreBox > table {
  width: 95%;
}

.ichiro {
  position: absolute;
  width: 35%;
  height: 45%;
  transform: translateX(-50%);
  right: 28%;
  bottom: 30%;
  z-index: -1;
  animation: fadeIn 2s;

}

.ichiro > img {
  height: 100%;
}

.griffey {
  position: absolute;
  width: 35%;
  height: 70%;
  transform: translateX(-50%);
  left: 25%;
  z-index: -2;
  animation: fadeIn 1s;
}

.griffey > img {
  height: 100%;
}

.felix {
  position: absolute;
  width: 35%;
  height: 50%;


  right: 15%;
  bottom: 30%;
  z-index: -3;
  animation: fadeIn 3s;

}

.felix > img {
  height: 100%;
}


/* ====== STANDINGS ====== */

.divisionContainer {
  margin: 1rem;
}

.divisionContainer > h1 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.tableContainer {
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: var(--boxShadow1);
}

.tableContainer > table {
  width: 95%;
}

.toggleButton {
  margin-top: 1rem;
  background: none;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--metallicSilver);
  transition: box-shadow 1s ease-out;

}

.toggleButton:hover {
  box-shadow: var(--boxShadow1);
  color: white;
  cursor: pointer;
  transition: .5s;
}


/* ========= SCORES / SCOREBOX ======= */

.scoreBox {

  margin: 1rem;
  padding: .75rem;
  border-radius: .5rem;
  box-shadow: var(--boxShadow1);

}

.scoreBox > table {
  width: 95%;
}

#logoCell > img {
  width: 2rem;
  height: 2rem
}

#teamNameCell {
  text-align: left;
}


/* ========== FOOTER ========= */

footer {
  grid-area: footer;
  width: 100%;
  background-color: var(--northwestGreen);
}



/* ========= ANIMATIONS ========= */

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
